<a href="https://colab.research.google.com/github/bariskucuk1999/data-science-notes/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Seriler**

In [ ]:
import numpy as np
import pandas as pd
myDict={"Ahmet":40, "Kaan":56, "Yusuf":23}
pd.Series(myDict)
###veya###
myNames=["Ahmet","Kaan","Yusuf"]
myAges=[40,56,23]
pd.Series(myAges,myNames)#pd.Series(data,index)
yarismaSonucu=pd.Series([20,10,8],["Ahmet","Kaan","Yusuf"])
yarismaSonucu2=pd.Series([10,12,6],["Ahmet","Kaan","Yusuf"])
sonSonuc=yarismaSonucu+yarismaSonucu2 #serilerdeki değerleri toplama

**Data Frame**

In [ ]:
#data frame serilerin birleştirilmiş hali
data=np.random.randn(4,3) #4x3 random matrix
dataFrame=pd.DataFrame(data,index=["Ahmet","Kaan","Yusuf","Zehra"],columns=["Maas","Yas","CalismaSuresi"])
dataFrame[["Maas","Yas"]] #belirli column'lar getirildi
dataFrame.loc["Ahmet"] #belirli row getirildi
dataFrame.iloc[1] #index ile row getirildi
dataFrame["EmeklilikYasi"]=dataFrame["Yas"]+dataFrame["Yas"] #column'daki değerleri toplayıp yeni column oluşturma
dataFrame.drop("EmeklilikYasi",axis=1, inplace=True) #column silme(kalıcı silme)
dataFrame.drop("Kaan",axis=0) #row silme
dataFrame.loc["Yusuf","Yas"] #dataframe'den tek bir değeri alma
dataFrame[dataFrame["Yas"]<0] #dataframe'de sıfırdan küçük olan satırlar gösterilir
dataFrame.reset_index() #indexler numaralandırıldı
newIndexList=["TUR","TUR","IRA","BUL"]
dataFrame["Nationality"]=newIndexList #yeni column ekleme
dataFrame.set_index("Nationality") #yeni index tabloda başa geldi

                 Maas       Yas  CalismaSuresi
Nationality
TUR         -0.392279  1.180591      -1.172178
TUR         -0.057112 -0.076190      -1.498952
IRA          0.442397 -0.358786       0.425724
BUL          0.351105  0.174097      -1.386368

**Data Frame İndeks Örneği**

In [ ]:
disIndex=["Demir","Demir","Demir","Kaya","Kaya","Kaya"]
icIndex=["Ali","Ahmet","Arda","Faruk","Feyza","Furkan"]
birlesmisIndex=list(zip(disIndex,icIndex))
birlesmisIndex=pd.MultiIndex.from_tuples(birlesmisIndex) #multi index oluşturuldu
degerListem=[[40,"A"],[20,"B"],[35,"C"],[9,"D"],[10,"E"],[11,"F"],]
numpyDizisi=np.array(degerListem)
dataFrame=pd.DataFrame(numpyDizisi,index=birlesmisIndex,columns=["Yas","Meslek"])
dataFrame.index.names=["Soyad","Ad"]
dataFrame

             Yas Meslek
Soyad Ad
Demir Ali     40      A
      Ahmet   20      B
      Arda    35      C
Kaya  Faruk    9      D
      Feyza   10      E
      Furkan  11      F

In [ ]:
dataFrame.loc["Demir"].loc["Arda"]

Yas       35
Meslek     C
Name: Arda, dtype: object

# **Pandas Operasyonlar**

**Eksik Veri Getirme**

In [ ]:
#eksik veri getirme
myDict1={"Istanbul":[30,29,np.nan],"Ankara":[20,np.nan,25],"Izmir":[40,np.nan,np.nan]}
dataFrame=pd.DataFrame(myDict1)
dataFrame.dropna() #satırda NaN değer varsa o satırlar silinir
dataFrame.dropna(axis=1) #sütunda NaN değer varsa o sütunlar silinir
dataFrame.dropna(axis=1,thresh=2) #2 ve üstü NaN olan sütunlar silinir
dataFrame.fillna(20) #NaN değerler 20 ile dolduruldu

   Istanbul  Ankara  Izmir
0      30.0    20.0   40.0
1      29.0    20.0   20.0
2      20.0    25.0   20.0

**DataFrame Gruplandırma**

In [ ]:
myDict2={"Departman":["Yazılım","Yazılım","Pazarlama","Pazarlama","İnsan Kaynakları","Hukuk"],
         "Calisanlar":["Ahmet","Ali","Burak","Sedat","Seyfi","Suna"],
         "Maas":[9000,5500,4500,7000,7500,8500]
        }
myDataFrame=pd.DataFrame(myDict2)
myGroupObject=myDataFrame.groupby("Departman")
myGroupObject.count() #hangi departmanda kaç kişi çalışıyor

                  Calisanlar  Maas
Departman
Hukuk                      1     1
Pazarlama                  2     2
Yazılım                    2     2
İnsan Kaynakları           1     1

In [ ]:
myGroupObject.mean() #departmandaki kişilerin ortalama maaşı

                  Maas
Departman
Hukuk             8500
Pazarlama         5750
Yazılım           7250
İnsan Kaynakları  7500

In [ ]:
myGroupObject.describe() #min, max gibi tüm özellikler hesaplanır

                  Maas                       ...
                 count    mean          std  ...     50%     75%     max
Departman                                    ...
Hukuk              1.0  8500.0          NaN  ...  8500.0  8500.0  8500.0
Pazarlama          2.0  5750.0  1767.766953  ...  5750.0  6375.0  7000.0
Yazılım            2.0  7250.0  2474.873734  ...  7250.0  8125.0  9000.0
İnsan Kaynakları   1.0  7500.0          NaN  ...  7500.0  7500.0  7500.0

[4 rows x 8 columns]

**DataFrame Birleştirme**

In [ ]:
#verileri birleştirme
myDict3={"Isim":["Ahmet","Ali","Burak","Sedat"],
         "Spor":["Kosu","Yuzme","Kosu","Basketbol"],
         "Kalori":[800,650,450,300]
        }
dataFrame1=pd.DataFrame(myDict3,index=[0,1,2,3]) #data frame oluşturuldu 
myDict4={"Isim":["Bahri","Buket","Sezer","Yavuz"],
         "Spor":["Kosu","Yuzme","Kosu","Basketbol"],
         "Kalori":[750,650,950,400]
        }
dataFrame2=pd.DataFrame(myDict4,index=[4,5,6,7]) #data frame oluşturuldu 
myDict5={"Isim":["Naz","Necip","Vedat","Zafer"],
         "Spor":["Kosu","Yuzme","Badminton","Tenis"],
         "Kalori":[550,800,900,700]
        }
dataFrame3=pd.DataFrame(myDict5,index=[8,9,10,11]) #data frame oluşturuldu        
pd.concat([dataFrame1,dataFrame2,dataFrame3],axis=0) #column birleştirme olsa axis=1

     Isim       Spor  Kalori
0   Ahmet       Kosu     800
1     Ali      Yuzme     650
2   Burak       Kosu     450
3   Sedat  Basketbol     300
4   Bahri       Kosu     750
5   Buket      Yuzme     650
6   Sezer       Kosu     950
7   Yavuz  Basketbol     400
8     Naz       Kosu     550
9   Necip      Yuzme     800
10  Vedat  Badminton     900
11  Zafer      Tenis     700

In [ ]:
#tabloları birleştirme
myMergeDict1={"Isim":["Ahmet","Ali","Burak","Sedat"],
         "Spor":["Kosu","Yuzme","Kosu","Basketbol"],
        }
dataFrame4=pd.DataFrame(myMergeDict1) #data frame oluşturuldu 
myMergeDict2={"Isim":["Ahmet","Ali","Burak","Sedat"],
         "Kalori":[750,650,950,400]
        }
dataFrame5=pd.DataFrame(myMergeDict2) #data frame oluşturuldu
pd.merge(dataFrame4,dataFrame5,on="Isim") #ortak column üzerinden işlem

    Isim       Spor  Kalori
0  Ahmet       Kosu     750
1    Ali      Yuzme     650
2  Burak       Kosu     950
3  Sedat  Basketbol     400

**Diğer Operasyonlar**

In [ ]:
myDataDict={"Departman":["Yazılım","Yazılım","Pazarlama","Pazarlama","İnsan Kaynakları","Hukuk"],
         "Calisanlar":["Ahmet","Ali","Burak","Sedat","Seyfi","Suna"],
         "Maas":[9000,5500,4500,7000,7500,8500]
        }
myDataFrame1=pd.DataFrame(myDataDict)
myDataFrame1["Departman"].unique() #tekrar eden değerler 1 defa gelir
myDataFrame1["Departman"].nunique() #unique değerlerin sayısı
myDataFrame1["Departman"].value_counts() #hangi departmandan kaç kişi olduğu
def brutMaas(maas):
  return maas*0.66
myDataFrame1["Maas"].apply(brutMaas) #fonksiyon ile maaş değerleri değiştirildi
myDataFrame1.isnull() #null değer olup olmadığına bakma

   Departman  Calisanlar   Maas
0      False       False  False
1      False       False  False
2      False       False  False
3      False       False  False
4      False       False  False
5      False       False  False

In [ ]:
#pivot table oluşturma
myDict6={"Spor":["Kosu","Kosu","Yuzme","Yuzme","Yuzme"],
         "Isim":["Ahmet","Ali","Burak","Sedat","Sedat"],
         "Yas":[35,32,25,40,29]
        }
kisiDataFrame=pd.DataFrame(myDict6)
kisiDataFrame

    Spor   Isim  Yas
0   Kosu  Ahmet   35
1   Kosu    Ali   32
2  Yuzme  Burak   25
3  Yuzme  Sedat   40
4  Yuzme  Sedat   29

In [ ]:
kisiDataFrame.pivot_table(values="Yas",index=["Spor","Isim"],aggfunc=np.sum) #aynı isim için yaş değeri toplandı

             Yas
Spor  Isim
Kosu  Ahmet   35
      Ali     32
Yuzme Burak   25
      Sedat   69

**Excel İşlemleri**

In [ ]:
pd.read_excel("deneme.xlsx") #excel dosyasını açma
dataFrame.to_excel("deneme2.xlsx") #dataframe'i excel'e yazdırma